<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VBaceEnglish.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" application="application/json" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" font="font/woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" font="font/woff2" />
        <remove fileExtension=".webp" />
        <mimeMap fileExtension=".webp" image="image/webp" />
        <remove fileExtension=".webm" />
        <mimeMap fileExtension=".webm" video="video/webm" />
        <remove fileExtension=".epub" />
        <mimeMap fileExtension=".epub" application="application/epub+zip" />
      </staticContent>
      <security>
        <requestFiltering>
          <!-- Cho phép upload file tối đa 100MB cho audio/video -->
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
