<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VBaceEnglish.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- Hỗ trợ tải file media, audio, video lớn đến 100MB -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>

      <!-- Hỗ trợ MIME types cho Static Files trên IIS / Somee / MonsterASP -->
      <staticContent>
        <remove fileExtension=".epub" />
        <mimeMap fileExtension=".epub" mimeType="application/epub+zip" />
        <remove fileExtension=".webp" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <remove fileExtension=".webm" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
